<!DOCTYPE html>
<html>
<head>
  <title>Create New Article</title>
</head>
<body>

  <nav class="navbar navbar-light bg-light">
    <button type="button" class="btn btn-link"><%= link_to("Wikinimous", articles_path)%></button>
    <button type="button" class="btn btn-link"><%= link_to("Create New Post", new_article_path)%></button>
  </nav>

  <%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit %>
  <% end %>

</body>
</html>
